@import url(http://fonts.googleapis.com/css?family=Carme);
@import url(http://fonts.googleapis.com/css?family=Sanchez);

html{
	background-color: #f2f2e6;
}
body{margin:0;background-color: white;

}

.top_content-wrapper{

	width:90%;
	margin: 0 auto;

}

header{
background-color: white;
}

#logodiv{
background-color: white;
float: left;
}

#logo{
	height:50px;
	padding: 15px;
}
nav{
margin-top: 38px;
float: right;
font-family: 'Carme';
font-size: 13px;
}
nav a{
	padding-left: 35px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}



.main_content-wrapper{
	width:100%;
	height:95%;
	margin: 0 auto;
	background-color: #f2f2e6;
	clear: both;
}

#top{
clear: both;
background-color: #f2f2e6;
text-align: center;
padding-top: 30px;
border-top:2px solid lightgrey;
}

#top div {
	display: inline-block;	
}
#top img{
	margin: 0 auto;
	max-height: 17px;
	padding-left: 10px;
	padding-right: 10px;
}
.line{
width: 25%;

}
#stylish{color: lightgrey;
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#main{
	clear: both;
background-color: #f2f2e6;
font-family: 'Sanchez';

text-align: center;
margin: 0 auto;
width:90%;
}
#maindiv{
	font-size: 22px;
	padding: 20px;
}
#main img{
	
	width: 100%;
}
.sites {
	text-align: center;
	background-color: #f2f2e6;	
	
}

.site {
	float: left;
	background-color: white;
	width: 30%;
	
	margin-left: 7.5px;
	margin-right: 7.5px;
}

.site-details {
	background-color: white;
}

#sitefont{
	font-family: "Sanchez";
	color: #d76f54;
}
#sitefont2{
	font-family: "Carme";
	font-size: "7px";
}
/*#button{
		clear: both;
background-color: #f2f2e6;
text-align: center;
}*/
#button button{
	clear: both;
	background-color: #d76f54;   
    color: white;
    font-size: 20px;
    font-family: 'Sanchez';
    margin-top: 60px;
    padding: 15px;
}

#bottom{
clear: both;
background-color: #f2f2e6;
text-align: center;

padding-bottom: 25px;

}
#bottom div {
	display: inline-block;	
	margin-top: 60px;
	
}
#bottom img{
	margin: 0 auto;
	max-height: 17px;
	padding-left: 10px;
	padding-right: 10px;
}